@model IEnumerable<MSP_RegProf.Models.AspNetUsers>

@{
    ViewBag.Title = "Usuarios";
}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Listado de Usuarios</h3>
    </div>
    <div class="box-body">
        <table id="dtUsuarios" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:120px">Acciones</th>
                    <th>Nombre de Usuario</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="btn-group-sm">
                                <a class="btn btn-info fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/AspNetUsers/Edit/@item.Id','Editar','Usuarios')"></a>
                                <a class="btn btn-default fa fa-file-text-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/AspNetUsers/Details/@item.Id','Detalle','Usuarios')"></a>
                                <a class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/AspNetUsers/Delete/@item.Id','Eliminar','Usuarios')"></a>
                            </div>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        if (!$.fn.dataTable.isDataTable('#dtUsuarios')) {
            $('#dtUsuarios').DataTable({
                "language": DataTableEsp()
            });
        }
    });
</script>