@model List<MSP_RegProf.Models.Menu>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>jsTree test</title>
    <!-- 2 load the theme CSS file -->
    <link href="~/Scripts/plugins/jsTree/themes/default/style.min.css" rel="stylesheet" />
</head>
<body>
    <!-- 3 setup a container element -->
    <div id="jstree">
        @*<!-- in this example the tree is populated from inline HTML -->
            <ul>
                <li>
                    Root node 1
                    <ul>
                        <li id="child_node_1">Child node 1</li>
                        <li>Child node 2</li>
                    </ul>
                </li>
                <li>Root node 2</li>
            </ul>*@

        <ul>
            @MSP_RegProf.Helpers.HtmlHelperExtensions.RenderTreeMenu(Model)
        </ul>


        
</div>

    @*@(string.Format(@"<li data-jstree='{{""icon"":""fa fa-plus""}}'> {0} </li>", "agregar"))*@
    <!-- 4 include the jQuery library -->
    <!-- 5 include the minified jstree source -->
    <script src="~/Scripts/plugins/jsTree/jstree.min.js"></script>
    <script>
        $(function () {
            // 6 create an instance when the DOM is ready
            $('#jstree').jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    }
                },
                "checkbox": {
                    "keep_selected_style": false
                },
                "plugins": ["wholerow", "checkbox"]
            });

            // 7 bind to events triggered on the tree
            $('#jstree').on("changed.jstree", function (e, data) {
                console.log(data.selected);
            });

        });
    </script>
</body>
</html>