<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DB.MSPGeDoc.csdl|res://*/DB.MSPGeDoc.ssdl|res://*/DB.MSPGeDoc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.64.64.219,1433;initial catalog=MSP-GeHosDB-Produccion;persist security info=True;user id=GeHosUser;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Models.DB.Datos.csdl|res://*/Models.DB.Datos.ssdl|res://*/Models.DB.Datos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.64.65.200,5000;initial catalog=MSP-GeDoc-Desarrollo;persist security info=True;user id=GeHos;password=TWF60Y.]y17J;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MSP_GeDoc" connectionString="Data Source=10.64.65.200,5000;Initial Catalog=MSP-GeDoc-Desarrollo;Persist Security Info=True;User ID=GeHos;Password=TWF60Y.]y17J;MultipleActiveResultSets=True;Application Name=EntityFramework;Packet Size=32767" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>